<!DOCTYPE html>
<html>
<head>
  <title>Decoshows</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="decoshow-iframe">
<%= yield %>
</div>
</body>
</html>
<%#= render :partial => 'shared/google_analytics' %>
